[submodule "services/backend"]
	path = services/backend
	url = https://github.com/SafeView/Backend.git
    branch = SAF-52-주석-정리-및-리팩토링
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/SafeView/Frontend.git
	branch = dev
[submodule "services/camera-ai"]
	path = services/camera-ai
	url = https://github.com/SafeView/Camera_AI.git
	branch = dev
